.client-img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  opacity: 0.45;
}
.client-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.socialmedia {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10%;
}
.client-desc {
  padding-left: 25%;
  padding-right: 25%;
}
.contact-desc {
  text-align: center;
}

.form-control:focus {
  background: rgb(40, 40, 40);
  color: white;
}
.form-control {
  background: rgb(40, 40, 40);
  color: white;

  border: none;
  margin-bottom: 20px;
}
.social-media {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.form-control::placeholder {
  /* Standard pseudo-element */
  color: white;
}
/**************************************************88*/

@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.slider {
  display: inline-block;
  display: flex;
  gap: 40px;
  animation: moveLeft 30s linear infinite; /* Adjust speed */
}

.client-img {
  max-width: 100%; /* Adjust size */
  height: auto;
}
